.hero{
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    overflow: hidden;

}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    line-height: 1.4;
}
.hero-left h2 {
    color: #090909;
    font-size: 2.2rem;
    padding-left: 3rem;
    font-weight: 600;
}
.hero-left p {
    color: #171717;
    font-size: 5rem;
    padding-left: 3rem;
    font-weight: 700;
}
.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.hero-hand-icon img {
    width: 7rem;

}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 19rem;
    height: 4.3rem;
    border-radius: 10rem;
    margin-top: 1rem;
    background-color: #ff4141;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 3rem;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width: 992px){
    .hero-left{
        padding-left: 4rem;
    }
    .hero-left p{
        font-size: 3.5rem;
    }
}

@media (max-width: 768px){
    .hero{
        flex-direction: column;
        padding: 2rem 1.25rem;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;

    }
    .hero-left{
        padding-left: 0;
        justify-content: flex-start;
        gap: 1rem;
       height: fit-content;
    }
    .hero-left h2{
        font-size: 1.25rem;
    }
    .hero-left p{
        font-size: 2.25rem;
    }
    .hero-latest-btn{
        width: 15rem;
        height: 4rem;
        font-size: 1.1rem;
    }
    .hero-right{ display: none; }
}

@media (max-width: 360px){
    .hero{
        
    }
    .hero-left p{
        font-size: 1.75rem;
        padding-left: 1rem;
    }
    .hero-left h2{
        font-size: 1rem;
        padding-left: 0;
    }
    .hero-left{ gap: 0.75rem; }
    .hero-latest-btn{
        width: 15rem;
        height: 3rem;
        font-size: 16px;
        margin: auto;
    }
    .hero-right{ display: none; }
    
}