.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* height kaldırıldı ki içerik kadar yer kaplasın */

}
.popular h1 {
    color: #171717;
    font-size: 3.2rem;
}
.popular hr {
    width: 32rem;
    border-radius: 1.1rem;
    background-color:#252525 ;
}
.popular-item {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(18rem, 1fr));
    gap: 3rem;
    justify-content: center;
    justify-items: center;
}
@media (max-width:1668px){
    .popular-item{
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, minmax(18rem, 1fr));
        justify-content: center;
        justify-items: center;
    }
}


@media (max-width:1168px){
    .popular-item{
        display: grid;
        gap: 2.5rem;
        grid-template-columns: repeat(2, minmax(18rem, 1fr));
        justify-content: center;
        justify-items: center;
    }
}

@media (max-width:768px){
    .popular-item{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, minmax(18rem, 1fr));
        justify-content: center;
        justify-items: center;
        
    }
    .popular h1 {
        font-size: 1.9rem;
    }
    .popular hr {
        width: 20rem;
    }
}

@media (max-width:360px){
    .popular h1 { font-size: 1.5rem; }
    .popular hr { width: 14rem; }
    .popular-item{ gap: 1.25rem; grid-template-columns: 1fr; }
}